<div class='hero mmat-elevation-z3'>
    <div class='logo'>
        <!--<h4 class='f6 fw3 '>A <span class='fw5'>Fantasy Football</span> League Made for Fans by Fans</h4>-->
        <!--<h4 class='f2 fw3 '>A brand new <span class='fw5'>Fantasy Football</span> League Made for Fans by Fans</h4>-->

        <div class='football'></div>
        <h1>Best of the Best</h1>

    </div>



</div>
<!--<h2 class='f5 fw3 subtitle'></h2>-->
<h2 class='f5 fw3 subtitle'>A <span class='fw7'>Fantasy Football League</span> Made for Fans by Fans</h2>
<div class='button-row'>
    <a md-button routerLink="login" color='accent'>Sign Up</a>
    <button md-raised-button color='primary'>Learn More</button>
</div>
<!--<div style='height: 20rem;'></div>-->